
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.card {
    background: rgb(32, 32, 32);
    width: 350px;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}

.card:hover {
    border: 1px solid #fff;
}

.pfp {
    width: 133px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.links {
    list-style: none;
    padding: 5px;
    margin: 14px;
}

.links li {
    display: inline;
    margin-inline-start: 5px;
}

.links a {
    color: blue;
}

.links a:hover {
    color: red;
}

.skills {
    margin: auto;
    width: 80%;
    text-align: left;
    margin-bottom: 18px;
}

span {
    color: green;
}
h1,h4,p,td{

    color: #fff;
}


.form input{
    width: 90%;
    margin-top: 8px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background: #f0f0f0;
}

button:hover {
    background: #908f8f;
}